.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.form-container textarea {
  height: 10em; /* Ajusta la altura a 10 líneas */
}

.H2 { 
  text-align: center

}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.H2{
  margin-top: 0%;
  font-family: Calibri Light;
  
}