.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(224, 224, 233);
}

.formulario-container {
  display: flex;
  flex-direction: column;
}

.formulario-container label {
  margin-bottom: 5px;
}

.formulario-container input,
.formulario-container textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.formulario-container textarea {
  height: 10em; /* Ajusta la altura a 10 líneas */
}